<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.openshop.creativemindsdevtask">

    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="creative"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".view.CasheActivity"></activity>
        <receiver android:name=".data.service.MyReciver">
            <intent-filter>
                <action android:name="com.medo.creative" />
            </intent-filter>
        </receiver>
        <service android:name=".data.service.MyService"/>

        <meta-data
            android:name="android.app.SearchView"
            android:resource="@layout/search" />
        <activity android:name=".view.GithubPagination" />
        <activity android:name=".view.DesignTaskActivity" />
        <activity android:name=".view.RepoListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>